body{
    color:#3D3D3D;
    background-color:#6D6D6D;
    padding:0;
    margin:0;
    font-size:14px;
 }
 body p{
    margin:10px;
 }
 body .red{
    color:#FF0000;
 }
 body > .red:first-child {
    color: #FF0000;
}
body h1{
    font-size:16px;
}
body h1.smaller{
    font-size:12px;
}